body {
    margin: 40px;
    font-size: 14px;
    font-family: Helvetica;
}

input {
    padding: 4px;
    width: 500px;
    font-size: 20px;
}

#item-todos {
    width: 512px;
    margin: 20px 0;
}

.todo {
    position: relative;
    margin-bottom: 4px;
}
.todo h3 {
    background-color: orange;
    padding: 10px;
    margin: 0;
}

.todo span {
    position: absolute;
    right: 4px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#note-todos {
    width: 512px;
    margin: 20px 0;
}

#note-todos .todo h3{
    background: lightgreen;
}

#thing-todos {
    width: 512px;
    margin: 20px 0;
}

.todoItem {
    padding: 10px;
    background-color: #ff6600;
    margin-bottom: 4px;
}

.todoItem header {
    display: inline-block; 
    font-size: 20px;
}

.todoItem a {
    background-color: #6b6b6b;
    padding: 4px 6px;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    cursor: pointer;
}

.todoItem a:hover {
    background-color: #3b3b3b;
}
